In [2]:
import pandas as pd
df=pd.read_csv("C:/Users/mayan/Downloads/datasets/archive/vgsales.csv")
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [4]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [7]:
df[['Name','Year','Genre']]

                                                   Name    Year         Genre
0                                            Wii Sports  2006.0        Sports
1                                     Super Mario Bros.  1985.0      Platform
2                                        Mario Kart Wii  2008.0        Racing
3                                     Wii Sports Resort  2009.0        Sports
4                              Pokemon Red/Pokemon Blue  1996.0  Role-Playing
...                                                 ...     ...           ...
16593                Woody Woodpecker in Crazy Castle 5  2002.0      Platform
16594                     Men in Black II: Alien Escape  2003.0       Shooter
16595  SCORE International Baja 1000: The Official Game  2008.0        Racing
16596                                        Know How 2  2010.0        Puzzle
16597                                  Spirits & Spells  2003.0      Platform

[16598 rows x 3 columns]